@import 'src/stylesheets';

.self {
  background-color: $color-primary;
  border: unset;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:disabled {
    background-color: #ddd;
    color: #777;
  }

  &:hover:not(:disabled) {
    @include backdrop(#000, 0.15);
    position: relative;
  }
}

.success {
  background-color: #40a340;
}

.danger {
  background-color: #f55;
}
