@import 'src/stylesheets';

$_background: $color-primary;
$_items-text-color: #fff;

.self {
  background-color: $_background;
  color: $_items-text-color;
  height: 70px;
  position: relative;
  width: 100%;
}

.list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.item {
  display: block;
  height: 100%;
}

.link {
  align-items: center;
  color: $_items-text-color;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    $border-color: darken($_background, 15%);
    background-color: rgba(#fff, 0.1);
    border-bottom: 5px solid $border-color;
  }
}
