$color-primary: #6686df;
$color-secondary: #8c94dd;

$color-primary-alt: #ffff6f;

$color-primary-text: #fff;

$color-dark-text: #334;

$color-primary-bg: #f9f9f9;

$color-pressed: #546de5;
$color-pressed-hover: $color-secondary;
